<% if current_user.sql_credential&.persisted? %>
  <div class="alert alert-info mt-4">
    You already have an SQL credential.
    <%= link_to 'View your credential', sql_credential_path(current_user.sql_credential), class: 'btn btn-outline-primary btn-sm ml-2' %>
  </div>
<% else %>
  <%= render 'form', sql_credential: @sql_credential %>
<% end %>
